.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.admin-main {
  flex: 1;
  margin-left: 260px; /* Sidebar width */
  display: flex;
  flex-direction: column;
}

.admin-content {
  flex: 1;
  padding: 2rem 2.5rem;
}
